<tr id="spending_<%= spending.id %>">
  <td><%= spending.description %></td>
  <td><%= spending.budget.category unless spending.budget.nil? %></td>
  <% if current_user.admin? %>
    <td><%= spending.debt_balance %></td>
  <% end %>
  <td><%= spending.spending_date %></td>
  <td><%= number_to_currency(spending.amount) %></td>
  <td><%= spending.payment_method %></td>
  <td><%= link_to 'Edit', edit_spending_path(spending), remote: true %></td>
  <td><%= link_to 'Destroy', spending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
