<% provide(:title, "Home") %>
<h1>MyMoney</h1>
<h2><%= t('home_summary') %></h2>

<% if !user_signed_in? %>
  <p class="center"> <%= t("getting_started_message_html", login_path: link_to(t('log_in'), new_user_session_path), sign_up_path: link_to(t('sign_up'), new_user_registration_path)) %> </p>
<% else %>
  <h3>===== <%= t('getting_started') %> =====</h3>
  <h4>1. <%= t('instruction_add_html', item: plural(PaymentMethod), link: payment_methods_path) %></h4>
  <h4>2. <%= t('instruction_add_html', item: plural(Account), link: accounts_path) %></h4>
  <h4>3. <%= t('instruction_add_html', item: plural(Category), link: categories_path) %></h4>
  <h4>4. <%= t('instruction_add_html', item: plural(Budget), link: budgets_path) %></h4>
  <h4>5. <%= t('instruction_add_html', item: plural(Spending), link: spendings_path) %></h4> 
<% end %>
