<% provide(:title, "Spendings") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart spendings_by_month_spendings_path, discrete: true, library: {title: "#{t('graph.title.one', item: plural(Spending))} #{t('graph.group_by.month')}", vAxis: { format: t('graph.vAxis') }} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= pie_chart spendings_by_category_spendings_path, discrete: true, library: {title: "#{t('graph.title.one', item: plural(Spending))} #{t('graph.group_by.other', category: singular(Category))}", vAxis: { format: t('graph.vAxis')}} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= pie_chart spendings_by_payment_method_spendings_path, discrete: true, library: {title: "#{t('graph.title.one', item: plural(Spending))} #{t('graph.group_by.other', category: singular(PaymentMethod))}", vAxis: { format: t('graph.vAxis') }} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= pie_chart spendings_by_payment_method_type_spendings_path, discrete: true, library: {title: "#{t('graph.title.one', item: plural(Spending))} #{t('graph.group_by.type_of', category: singular(PaymentMethod))}", vAxis: { format: t('graph.vAxis') }} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart cc_purchase_vs_payment_spendings_path, discrete: true, library: {title: "#{t('graph.title.credit', item_1: plural(Spending), item_2: t('credit_card.payment.other'))} #{t('graph.group_by.month')}", vAxis: { format: t('graph.vAxis') }} %>
  </div>
</div>

<h1><%= plural(Spending) %></h1>

<%= form_tag spendings_path, :method => 'get', :id => "spendings_search" do %>
  <table class="filters">
    <tr>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <td><%= text_field_tag :search, params[:search] %></td>
        <td><%= submit_tag t('form.actions.search'), :name => nil %></td>
    </tr>
  </table>
<% end %>

<%= link_to genderize(Spending,"f"), new_spending_path, remote: true %>

<%= will_paginate @spendings %>

<%= table_for @spendings, :tbody_html => { :id => "spendings" },
                          :data_row_html => { :id => lambda { |spending| "spending_#{spending.id}" }},
                          :sortable => true do |table| %>
  <% table.column :description %>
  <% table.column :budget %>
  <% if current_user.admin? %>
    <% table.column :debt_balance %>
  <% end %>
  <% table.column :spending_date %>
  <% table.column :amount, formatter: lambda { |amount| number_to_currency(amount)} %>
  <% table.column :payment_method %>
  <% table.column :data => t('edit'), :link_action => :edit, link_html: {remote: true} %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>

<%= will_paginate @spendings %>

<br>

<%= link_to genderize(Spending,"f"), new_spending_path, remote: true %>

<% if @future_spendings.sum(:amount) > 0 %>
    <br>
    <h3>Future <%= plural(Spending) %></h3>
    <%= table_for @future_spendings, :tbody_html => { :id => "future_spendings" },
                  :data_row_html => { :id => lambda { |spending| "spending_#{spending.id}" }},
                  :sortable => true do |table| %>
        <% table.column :description %>
        <% table.column :budget %>
        <% if current_user.admin? %>
            <% table.column :debt_balance %>
        <% end %>
        <% table.column :spending_date %>
        <% table.column :amount, formatter: lambda { |amount| number_to_currency(amount)} %>
        <% table.column :payment_method %>
        <% table.column :data => t('edit'), :link_action => :edit, link_html: {remote: true} %>
        <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
    <% end %>
<% end %>

<br>


