<% provide(:title, "Budgets") %>
<p id="notice"><%= notice %></p>

<h1><%= plural(Budget) %></h1>

<h2><%= l(@curr_budget, format: :short).titleize %></h2>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart budgets_by_month_budgets_path, discrete: true, library: {title: "#{t('graph.title.two', item_1: plural(Spending), item_2: plural(Budget))} #{t('graph.group_by.month')}", vAxis: { format: t('graph.vAxis') }} %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= pie_chart spendings_by_category_budgets_path(search: @curr_budget), discrete: true, library: {title: "#{t('graph.title.one', item: plural(Spending))} #{t('graph.group_by.other', category: singular(Category))}", vAxis: { format: t('graph.vAxis')}} %>
  </div>
</div>

<p>
  <% if current_user.admin? %>
    Expected Income<sup><a href="#fn3" id="ref3"> 3</a></sup>: <%= number_to_currency(potential_income(@curr_budget)) %><br>
  <% end %>
  <%= t('total_html', item: plural(Budget)) %>:
  <a href="#" data-toggle="tooltip" title="<%= "#{number_to_currency(potential_income(@curr_budget)-overall_budget(@curr_budget))} left to budget." %>">
    <%= number_to_currency(overall_budget(@curr_budget)) %>
  </a>
  <br>
  <%= t('total_html', item: plural(Spending)) %>: <%= number_to_currency(overall_spending(@curr_budget)) %><br>
  YTD Income: <%= number_to_currency(ytd_income(@curr_budget)) %><br>
  YTD Spendings: <%= number_to_currency(ytd_spending(@curr_budget)-ytd_assets_savings(@curr_budget)) %><br>
  YTD Savings: <%= number_to_currency(ytd_assets_savings(@curr_budget)) %><br>
  <% ytd_assets_savings_breakdown(@curr_budget).each do |saving| %>
      &emsp;&emsp;<%= "#{saving[0]}: #{number_to_currency(saving[1])}" %><br>
  <% end %>
</p>

<%= form_tag budgets_path, :method => 'get', :id => "budgets_search" do %>
  <table class="filters">
    <tr>
        <td><%= select_tag :search, options_for_select(last_n_months(12), @curr_budget) %></td>
        <td><%= submit_tag t('form.actions.go'), :name => nil %></td>
    </tr>
  </table>
<% end %>

<%= link_to genderize(Budget,"m"), new_budget_path %>

<%= table_for @budgets, :tbody_html => { :id => "budgets" }, :sortable => false do |table| %>
  <% table.column :category, formatter: lambda { |category| category.cc_payment? ? "#{category}<sup><a href=\"#fn1\" id=\"ref1\"> 1</a></sup>".html_safe : category } %>
  <% table.column :percent_total, formatter: lambda {|budget| number_to_percentage(budget, precision: 2) } %>
  <% table.column :amount, :formatter => lambda { |amount| number_to_currency(amount)} %>
  <% table.column :spendings, :formatter => lambda {|spendings| number_to_currency(spendings.sum(:amount)) } %>
  <% table.column :balance, :formatter => lambda {|balance| number_to_currency(balance) }, :data_column_html => {:style => lambda { |budget| "color: #{good_pos_cell_color_comparison(budget.amount,budget.spendings.sum(:amount), budget.category_name)}" } } %>
  <% table.header :balance do |column, options| %>
    <%= table.header_sort_link(column, options) do %>
      +/-<sup><a href="#fn4" id="ref4"> 4</a></sup>
    <% end %>
  <% end %>
  <% table.column :data => t('edit'), :link_action => :edit %>
  <% table.column :data => t('details'), link: true %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>

<%= link_to genderize(Budget,"m"), new_budget_path %>

<hr></hr>

<p>
<sup id="fn1">1: <%= t('notes.credit') %> <a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup><br>
<% if current_user.admin? %>
  <sup id="fn2">2. <%= credit_payment_budget_notes(@curr_budget) %><a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a></sup><br>
  <sup id="fn3">3. <%= potential_income_notes(@curr_budget) %><a href="#ref3" title="Jump back to footnote 3 in the text.">↩</a></sup><br>
<% end %>
<sup id="fn4">4. <span style="color:<%= good_pos_cell_color_comparison(100,0)%>"><%= t('notes.below') %></span>; <span style="color:<%= good_pos_cell_color_comparison(100.00,109.00)%>"><%= t('notes.above.less', threshold: '10%') %></span>; <span style="color:<%= good_pos_cell_color_comparison(100.00,111.00)%>"><%= t('notes.above.more', threshold: '10%') %></span>. <a href="#ref4" title="Jump back to footnote 4 in the text.">↩</a></sup><br>
</p>
