<% provide(:title, "Show Budget") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @budget.category %>
</p>

<p>
  <strong>Budget month:</strong>
  <%= @budget.budget_month.strftime('%B %Y') %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@budget.amount) %>
</p>

<p>
  <strong>Spendings:</strong>
  <%= number_to_currency(@budget.spendings.sum(:amount)) %>
</p>

<p>
  <strong>Diff: </strong>
  <%= number_to_currency(@budget.amount - @budget.spendings.sum(:amount)) %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>

<h2><%= plural(Spending) %></h2>

<%= table_for @spendings, :tbody_html => { :id => "spendings" }, :sortable => true do |table| %>
  <% table.column :description %>
  <% table.column :budget %>
  <% if current_user.admin? %>
    <% table.column :debt_balance %>
  <% end %>
  <% table.column :spending_date %>
  <% table.column :amount, formatter: lambda { |amount| number_to_currency(amount)} %>
  <% table.column :payment_method %>
  <% table.column :data => t('edit'), :link_action => :edit, link_html: {remote: true} %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>
