<% provide(:title, "Users") %>
<p id="notice"><%= notice %></p>

<h1>Contributors</h1>

<table>
  <thead>
    <%= render "users/partials/header" %>
  </thead>
  <tbody>
    <%= render partial: "users/partials/user", collection: @contributors %>
  </tbody>
</table>

<br>

<h1>Others</h1>

<table>
  <thead>
    <%= render "users/partials/header" %>
  </thead>
  <tbody>
    <%= render partial: "users/partials/user", collection: @non_contributors %>
  </tbody>
</table>
