<% provide(:title, "Show User") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<% if current_user.admin? %>
  <%= form_tag user_path, method: :put, id: "db_adjust" do %>
    <table class="filters">
      <tr>
        <td><%= select_tag :role, options_for_select(User.roles.keys.map {|role| [role.titleize,role]}) %></td>
        <td><%= submit_tag "Update Role", :name => nil %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>
