<% provide(:title, "Account Balances") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart balances_by_day_account_balances_path, discrete: false, library: {title: "Balances By Day"} %>
  </div>
</div>

<h1>Listing Account Balances</h1>

<%= link_to 'New Account balance', new_account_balance_path %>

<%= table_for @account_balances, :tbody_html => { :id => "account_balances" }, :sortable => true, :data_row_html => {
                        :class => lambda { |account_balance| "#{account_balance.paid? ? 'info' : 'success' }"},
                        :id => lambda { |account_balance| "account_balance-#{account_balance.id}" }} do |table| %>
  <% table.column :balance_date %>
  <% table.column :account %>
  <% table.column :amount, :formatter => lambda { |amount| number_to_currency(amount) } %>
  <% table.column :buffer, :formatter => lambda { |amount| number_to_currency(amount) } %>
  <% table.column :debt_balance %>
  <% table.column :paid %>
  <% table.column :data => t('details'), link: true %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>

<br>

<%= link_to 'New Account balance', new_account_balance_path %>
