<% provide(:title, "Account Balances") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <%= line_chart balances_by_day_account_balances_path, discrete: false, library: {title: "Balances By Day"} %>
  </div>
</div>

<h1>Listing Account Balances</h1>

<%= link_to 'New Account balance', new_account_balance_path %>

<table>
  <thead>
    <tr>
      <th>Balance date</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Buffer</th>
      <th>Leftover Debt</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_balances.each do |account_balance| %>
      <tr>
        <td><%= account_balance.balance_date %></td>
        <td><%= account_balance.account %></td>
        <td><%= number_to_currency(account_balance.amount) %></td>
        <td><%= number_to_currency(account_balance.buffer) %></td>
        <td><%= account_balance.debt_balance %></td>
        <td><%= account_balance.paid %></td>
        <td><%= link_to 'Show', account_balance %></td>
        <td><%= link_to 'Edit', edit_account_balance_path(account_balance) %></td>
        <td><%= link_to 'Destroy', account_balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account balance', new_account_balance_path %>
