<%= form_for(@income_source) do |f| %>
  <% if @income_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income_source.errors.count, "error") %> prohibited this income_source from being saved:</h2>

      <ul>
      <% @income_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% @income_source.build_schedule unless @income_source.schedule %>
  <%= f.fields_for :schedule do |u| %>
    <div class="field">
      <%= u.label :rule, "Schedule" %><br/>
      <%= u.select_recurring :rule, [
        IceCube::Rule.weekly(2).day(:friday)
      ] %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.grouped_collection_select :account_id, @grouped_accounts, :items, :name, :id, :name, {prompt: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, :class => 'text_field', :step => 0.01 %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.calendar_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.calendar_field :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
