<% provide(:title, "Categories") %>
<p id="notice"><%= notice %></p>

<h1><%= plural(Category) %></h1>

<%= table_for @categories, :tbody_html => { :id => "categories" }, :sortable => true do |table| %>
  <% table.column :name, data: lambda { |category| category.cc_payment? ? "#{category}<sup><a href=\"#fn1\" id=\"ref1\"> *</a></sup>".html_safe : category } %>
  <% table.column :description %>
  <% table.column :data => t('edit'), :link_action => :edit %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>

<br>

<%= link_to genderize(Category,"f"), new_category_path %>

<hr></hr>

<p>
<sup id="fn1">*: <%= t('notes.credit') %> <a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup><br>
</p>
