<tr>
  <td><%= account.name %></td>
  <td><%= account.account_type %></td>
  <td><%= account.payment_method %></td>
  <td><%= link_to 'Show', account, remote: true %></td>
  <td><%= link_to 'Edit', edit_account_path(account), remote: true %></td>
  <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
